beammap1.log
beammap_21cm_1.png
beammap_21cm_2.png
beammap_21cm_8.png
beammap_21cm_8u.png
nod3_4054_3C454.3_P217mm-ICPBE_1.fits
run.sh
station.log
station.prc
v107test.prc
beammap_2l.png
beammap_8u.fits
beammap_8u.png
header.log
image.fits
table.fits
